<link rel="stylesheet" href="styles/ol.css">
<link rel="stylesheet" href="styles/historical.css">

<script src="scripts/ol.js"></script>
<script src="scripts/map.js"></script>


<div id="content">	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Frequency MHz</div>
					<div class="panel-body">
						<rzslider rz-slider-model="freqSlider.value" rz-slider-options="freqSlider.options"></rzslider>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Sensors</div>
					<div class="panel-body">
						<div class="checkboxList">
							<div ng-repeat="sensor in sensors">
								<input type="checkbox" ng-model="sensor.isActive" ng-click="filter(sensor.SID)"/>Sensor-{{sensor.SID}}  (Long:{{sensor.Longitude.toFixed(4)}} : Lat:{{sensor.Latitude.toFixed(4)}} )
							</div>
						</div>
					</div>
				</div>
				<input date-range-picker class="form-control data-picker" type="text" ng-model="datePicker.date" options="datePicker.options"/>

				<wy-time-picker data-dropdown-toggle-state="timePicker.settings.dropdownToggleState"
								data-time-settings="timePicker.settings.time"
								data-no-range="timePicker.settings.noRange"
								data-format="timePicker.settings.format"
								data-no-validation="timePicker.settings.noValidation"
								data-apply-callback="timePicker.onApplyTimePicker()"
								data-clear-callback="timePicker.onClearTimePicker()"></wy-time-picker>
			</div>
			<div class="col-md-8">
				<div id="map" class="map" style="height:500px; width: 700px; border: 1px solid black"></div>
				<div id="key">
					<div id="lowest" class="color" style="background-color: #f8ff00;"></div>					
					<div id="lowest-low" class="color" style="background-color:#e5ec00; "></div>
					<div id="lowest-mid" class="color" style="background-color:#bdc200; "></div>
					<div id="lowest-high" class="color" style="background-color:#ffaa00; "></div>
					<div id="mid" class="color" style="background-color:#FF950A; "></div>
					<div id="mid-high" class="color" style="background-color:#FF8300; "></div>
					<div id="high-low" class="color" style="background-color:#FF680A; "></div>
					<div id="high-mid" class="color" style="background-color:#ff0000; "></div>
					<div id="high-high" class="color" style="background-color:#c92c2c; "></div>
					<div id="highest" class="color" style="background-color:#af0000; "></div>
				</div>
				<div id="key-desc">
					<div id="lowest-desc" class="desc">>0%</div>					
					<div id="lowest-low-desc" class="desc">>10%</div>
					<div id="lowest-mid-desc" class="desc">>20%</div>
					<div id="lowest-high-desc" class="desc">>30%</div>
					<div id="mid-desc" class="desc">>40%</div>
					<div id="mid-high-desc" class="desc">>50%</div>
					<div id="high-low-desc" class="desc">>60%</div>
					<div id="high-mid-desc" class="desc">>70%</div>
					<div id="high-high-desc" class="desc">>80%</div>
					<div id="highest-desc" class="desc">>90%</div>
				</div>				
			</div>			
		</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-striped" ng-show="sensors">
					<thead>
						<tr>
							<th>Name</th>
							<th>Time</th>
							<th>Frequency</th>
							<th>Strength</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sensor in sensors" ng-if="sensor.isActive != false">
							<td>Sensor-{{ sensor.SID }}</td>
							<td>{{sensor.timeStamp}}
							<td>{{ freqSlider.value }}</td>
							<td>{{ sensor.readings }}</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>