<link rel="stylesheet" href="styles/about.css">

<div class="jumbotron" id="content">
<h1>Mission Statement</h1>
<p>Our mission is to provide a means of studying real time radio frequency data</p>

<h1>Broader Impacts</h1>
<p>The issue with static design is its lack of flexibility. Today's techonology landscape has changed dramatically from when radio waves were first used, but the FCC regulations have not exactly caught up. Broadcasting television is on its way out seeing that much of todays' transmitions are over fiber optics cable. That portion of the spectrum has not been reallocated and is highly underutilized. In contrast, the rise of cell phones and handheld electornics strains communicaiton due to their lack of bandwidth in the radio wave spectrum. Our study hopefully will lead to technology that will allow deviced to dynamically allocate their own bandwidth on open frequencies which will elevate strain on the communication system.</p>

<h1>Sponsor</h1>
<div id="sponsor">
	<div style="display: inline-block;">
	<img src="../images/Chatterjee.jpg" alt="Dr. Chatterjee" style="border: 2px solid black;">
	</div>
	<div style="display: inline-block;">
	<h5>Mainak Chatterjee</h5>
	<a href="http://www.eecs.ucf.edu/~mainak/">Website</a>
	<a href="mailto:mainak@eecs.ucf.edu">mailto:mainak@eecs.ucf.edu</a>
	<p>(407)-823-5835</p>
	</div>
</div>


</div>
