#sponsor img {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 5px;
}

#sponsor p {
  float: left;
  display: block;
  width: 100%;
}

#sponsor a {
  float: left;
  display: block;
  width: 100%;
}

#sponsor h5 {
  float: left;
  display: block;
  width: 100%;
}
