#map{
	/*margin-bottom: 10px;*/
	/*float: right;*/
}

#key{
	/*position: absolute;*/	
	display: flex;
	flex-direction: row;
	/*width: 700px;*/
}
.color{
	border: 1px solid black;
	height: 50px;
	width: 70px;
}

#key-desc{
	/*position: absolute;*/	
	display: flex;
	flex-direction: row;
	margin: 0 0 10px 0;	
	/*width: 700px;*/
}
.desc{
	text-align: center;
	height: 50px;
	width: 70px;
}